body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    sans-serif;
  margin: 0;
  padding: 0;
  /*background-color: #18467a;*/
}

.responsive {
  max-width: 100%;
  height: auto;
}

header {
  background-color: #001f3f;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.contact-info p {
  font-size: 14px;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

main {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}

.botonTipo {
  cursor: pointer;
}
.botonTipo:hover {
  background-color: #001f3f;
  color: #4e5253;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.producto {
  margin: 20px 10px;
  padding: 10px;
  text-align: center;
  /*background-image: radial-gradient( circle farthest-corner at -4.5% 34.3%,  rgba(13,20,174,1) 0%, rgba(243,165,140,1) 90% );*/
  /*background-image: linear-gradient( 270.3deg,  rgba(84,212,228,1) 0.2%, rgba(68,36,164,1) 100% );*/
  background-color: rgb(165, 178, 203);
  max-width: 300px;
  justify-content: space-around;
}
.producto:hover {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}

.producto img {
  max-width: 100%;
  /*height: 300px;
    padding: 10px;*/
}

.precio {
  font-weight: bold;
  color: #0f0803;
}

button {
  background-color: #4e5253;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #001f3f;
}
button:active {
  background-color: rgb(90, 116, 232);
}

footer {
  background-color: #001f3f;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.edicion-especial {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(165, 178, 203);
}

.texto {
  background-color: rgb(165, 178, 203);
}

.formulario {
  background-color: #001f3f;
  color: #fff;
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: none;
}

.botton {
  display: inline;
  background-color: #678bb2;
  text-decoration: none;
  text-align: right;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  color: #f5f5f5;
  padding: 5px 10px 0px 5px;
}

.botton:hover {
  background-color: #001f3f;
}

.botton:active {
  background-color: rgb(243, 31, 144);
}

.grid-container {
  display: grid;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 2%;
  justify-content: center;
}

video {
  max-width: 100%;
}
.animacion {
  margin: auto;
  width: 180px;
  color: white;
  padding: 10px;
  background-color: #001f3f;
  position: relative;
  animation-name: recomen;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes recomen {
  0% {
    background-color: #001f3f;
    left: -100px;
    top: 0px;
  }
  50% {
    background-color: #001f3f;
    left: 100px;
    top: 0px;
  }
  100% {
    background-color: #001f3f;
    left: -100px;
    top: 0px;
  }
}

.mapa {
  display: flex;
  justify-content: center;
}

.nav-boton {
  background-color: rgb(100, 86, 86);
  color: #f5f5f5;
  padding: 5px 10px;
  border: 2px solid black;
  display: none;
  font-size: x-large;
}

@media (max-width: 600px) {
  .enlace {
    flex-direction: column;
  }
  .nav-boton {
    display: inline-block;
  }
  .grid-container {
    justify-content: center;
    max-width: 100%;
  }
  .texto {
    justify-content: center;
    align-content: flex-start;
  }
  .botones {
    display: inline;
  }

  .catalogo {
    justify-content: space-around;
  }

  .grid-caja {
    flex-direction: column;
    justify-content: center;
    padding: auto;
  }
  .producto img {
    flex-direction: column;
    justify-content: center;
    padding: 0, auto;
    max-width: 200px;
    height: 250px;
    padding: 10px;
  }

  .bton {
    margin: 10px;
  }
}

.social-icons {
  text-align: center;
  color: #fff;
  padding-top: 10px;
}
a {
  color: white;
  padding: 5px;
  text-decoration: none;
}
a:hover {
  color: #4e5253;
}
.NuestroLocal {
  margin: auto; /*1*/
  color: black; /*2*/
  background-color: rgb(165, 178, 203); /*3*/
  text-align: center;
  padding: 20px;
  justify-self: center;
  align-self: center;
  /*color: #f5f5f5;*/
}

.botones {
  background-color: rgb(17, 18, 87);
  color: #f5f5f5;
  padding: 10px;
  border: 2px solid black;
  display: none;
}

h2 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/*prueba moto*/
.moto {
  width: 50px;
  height: 50px;
  position: relative;
  display: inline-block;

  animation: mover-moto 3s linear infinite;
}

@keyframes mover-moto {
  0% {
    left: -100px;
  }
  100% {
    left: calc(15% - 100px);
  }
}
